html,
body {
  margin: 0;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}

@font-face {
  font-family: gameFont;
  src: url(./assets/Moonhouse-yE5M.ttf);
}

#locker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

html::-webkit-scrollbar {
  display: none;
}

#playergui {
  position: absolute;
  display: inline-flex;
  bottom: 10px;
  left: 50%;
}

.key {
  width: 32;
  height: 32;
  color: aliceblue;
  z-index: 100;
}

#playergui > div {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-radius: 25%;
  width: 32px;
  height: 32px;
  justify-content: center;
  padding: 12px 12px;
  align-items: center;
  margin: 6px;
  font-size: 20px;
  color: aliceblue;
  font-family: gameFont;
}

#itemName {
  display: flex;
  position: fixed;
  top: 10%;
  left: 50%;
  padding: 12px 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  border: 2px solid white;
  border-radius: 80%;
  justify-content: center;
  align-items: center;

  font-family: gameFont;
}

#pointer {
  position: absolute;
  top: 40%;
  left: 50%;
  justify-content: center;
  font-size: 100px;
}

#timer {
  position: absolute;
  top: 10%;
  left: 90%;
  justify-content: center;
  font-size: 30px;
  color: aliceblue;
  font-family: gameFont;
}

#finishBoard {
  display: none;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 800;
  height: 600;
  border-radius: 25px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.199);
  z-index: 1;
}

#finishBoard > div {
  position: relative;
  display: flex;
  color: aliceblue;

  justify-content: center;
  font-family: gameFont;
}

#finishBoard > .title {
  padding: 15px 15px;
  font-size: 30px;
}

#finishBoard > .sub_title {
  padding: 15px 15px;
  font-size: 20px;
}

#finishBoard > .scoreboard_timer_last {
  padding: 30px 30px;
  padding-top: 100px;
  font-size: 25;
}

#finishBoard > .scoreboard_timer {
  padding: 30px 30px;
  padding-top: 100px;
  font-size: 25;
}
